@font-face{
    font-family:gohu;
    src:url("gohu.woff") format("woff");
}

@font-face{
    font-family:unifont;
    src:url("unifont.woff") format("woff");
}

@font-face{
    font-family:'VT323';
    src:url('VT323-Regular.ttf') format('truetype');
}


:root{
    /*--bg:#0c0d10;*/
    --bg:#0c0d10;
    --border:#001c1c;
    --text:#65E903;
    /*--text:#00ffff;*/
    /*--muted:#4f7a35;*/
    /*--muted:#3a9070;*/
    --muted:#00dede;
}

*{ margin:0; padding:0; box-sizing:border-box; }
html{ scroll-behavior:smooth; }

body{
    background:var(--bg);
    color:var(--text);
    font-family:VT323,unifont,gohu,"Lucida Console",monospace;
    letter-spacing:0px;
    font-size:26px;
    line-height:1.2;
    padding:24px 14px;
}

.wrapper{ max-width:1024px; margin:auto; }

.article{
    background:#001C1C;
    border:1px solid var(--border);
    border-radius:6px;
    overflow:hidden;
    width:100%;
    display:block;
    white-space:pre-wrap;
    overflow-wrap:anywhere;
    padding:10px 14px;
    font-size:26px;
}

.commento{
    color:var(--muted);
    margin:16px 0;
    overflow-wrap:anywhere;
    white-space:normal;
}

.commento p{ margin-bottom:10px; }
.commento p:last-child{ margin-bottom:0; }

a{ color:#65E903; text-decoration:none; }

a:hover{
    color:#9cff5f;
}


@media(max-width:768px){
    body{ padding:0; font-size:20px; }
    .article{ border-radius:0; font-size:20px; }
}
